@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 287 57% 99%;
    --foreground: 287 71% 3%;
    --muted: 257 9% 88%;
    --muted-foreground: 257 10% 39%;
    --popover: 287 57% 98%;
    --popover-foreground: 287 71% 2%;
    --card: 287 57% 98%;
    --card-foreground: 287 71% 2%;
    --border: 287 9% 93%;
    --input: 287 9% 93%;
    --primary: 287 35% 38%;
    --primary-foreground: 287 35% 98%;
    --secondary: 257 35% 38%;
    --secondary-foreground: 257 35% 98%;
    --accent: 317 35% 38%;
    --accent-foreground: 317 35% 98%;
    --destructive: 0 96% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 287 35% 38%;
    --radius: 0.5rem;
  }

  .dark:root {
    --background: 287 31% 2%;
    --foreground: 287 24% 97%;
    --muted: 257 9% 12%;
    --muted-foreground: 257 10% 61%;
    --popover: 287 31% 3%;
    --popover-foreground: 287 24% 98%;
    --card: 287 31% 3%;
    --card-foreground: 287 24% 98%;
    --border: 287 9% 15%;
    --input: 287 9% 15%;
    --primary: 287 35% 38%;
    --primary-foreground: 287 35% 98%;
    --secondary: 257 35% 38%;
    --secondary-foreground: 257 35% 98%;
    --accent: 317 35% 38%;
    --accent-foreground: 317 35% 98%;
    --destructive: 0 96% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 287 35% 38%;
  }
}
